<eui-page>
    <eui-page-header label="EUI TABS"></eui-page-header>

    <eui-page-content>
        <eui-tabs>

            <eui-tab>
                <eui-tab-label>
                    <span class="eui-icon eui-icon-home eui-u-color-primary ml-2"></span>
                    Home
                </eui-tab-label>
                <eui-tab-content>
                    <p>
                        This is a tab with an icon set on the left
                    </p>
                </eui-tab-content>
            </eui-tab>

            <eui-tab hasBackgroundFilled euiDanger>
                <eui-tab-label>
                    <div class="d-flex flex-column">
                        Risks
                        <span euiLabel euiSizeXS>
                            Level 1
                        </span>
                    </div>
                    <eui-chip euiSizeS euiWarning>1</eui-chip>
                </eui-tab-label>
                <eui-tab-content>
                    <ul>
                        <li><a>Risk 1</a></li>
                    </ul>
                </eui-tab-content>
            </eui-tab>


            <!-- Newly created tabes by user will be created there -->


            <euiTabsRightContent>
                <button euiButton euiOutline euiPrimary class="mr-2">Add tab</button>
                <button euiButton euiSecundary> Remove tab</button>
            </euiTabsRightContent>

        </eui-tabs>
    </eui-page-content>
</eui-page>
