<eui-app isSidebarOpen=false>
    <eui-app-toolbar>
        <eui-toolbar>
            <eui-toolbar-logo></eui-toolbar-logo>
            <eui-toolbar-app appName="eUI Tabs"></eui-toolbar-app>
            <eui-toolbar-environment>MOCK</eui-toolbar-environment>
            <eui-toolbar-items euiPositionRight>

            </eui-toolbar-items>
        </eui-toolbar>
    </eui-app-toolbar>
    <eui-app-sidebar>
        <eui-app-sidebar-body>
            <eui-app-sidebar-menu [items]="sidebarItems"></eui-app-sidebar-menu>
        </eui-app-sidebar-body>
    </eui-app-sidebar>
</eui-app>
